<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simulator.domain.repository.mapper.ShuffleSessionMapper">
  <insert id="insert" parameterType="com.simulator.domain.model.mapper.ShuffleSession">
    insert into shuffle_session (SESSION_ID, INITIAL_DECKLIST_ID, REGIST_DATE,
      DELETE_FLG)
    values (#{sessionId,jdbcType=INTEGER}, #{initialDecklistId,jdbcType=INTEGER}, #{registDate,jdbcType=TIMESTAMP},
      #{deleteFlg,jdbcType=CHAR})
  </insert>
  <select id="selectNextSessionId" resultType="java.lang.Integer">
    select COALESCE(MAX(SESSION_ID) + 1,1)
    from shuffle_session
  </select>
</mapper>